h3 {
  margin-top: 140px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #acacac;
}
p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.002em;
  text-transform: capitalize;
  color: #666666;
}
